# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# editor temporaries
*.swp
*~

# coverage data
*.gcov
*.gcda
*.gcno
covsummary

# valgrind log
mem.log

# generated cxxtest source
test.cpp

# test binary
testFile

# test output
testFile.log

